<div class="container">
  <div class="container">
    <h2><%= @breed.title.capitalize %></h2>
    <br />
    <hr />
    <p><strong>Dogs with this breed: </strong></p>
    <br />
    <%= paginate @dogs %>
    <section id="dogs" class="mt-5 mb-5 row row-cols-2">
      <%= render partial: "breed/breed_dog", collection: @dogs, as: :dog %>
    </section>
    <%= paginate @dogs %>
  </div>
</div>