<li>
  <% if dog.image.present? %>
    <% if (params[:action] == 'index') %>
      <%= image_tag dog.image.variant(resize_to_limit: [235, 235]).processed, alt: "#{dog.name}"  %>
    <% else %>
      <%= image_tag dog.image.variant(resize_to_limit: [600, 600]).processed, alt: "#{dog.name}"  %>
    <% end %>
  <% end %>
</li>