<div class="container">
  <h2>Search</h2>
  <p>Returned <%= @dogs.nil? ? "0" : @dogs.count %> entries.</p>

  <ul>
    <%= render partial: "dog/dog_search", collection: @dogs, as: :dog %>
  </ul>
</div>